
<header class="header">
  <div class="header-left">
    <div class="brand">BB*</div>
    <div class="welcome">
      Good Afternoon! {{userName}}
      <div class="last-login">Last Login: {{lastLogin}}</div>
    </div>
  </div>
  <div class="user-info">
    <div class="user-role">Admin</div>
    <div class="avatar-wrapper" [matMenuTriggerFor]="userMenu">
      <img src="/assets/user-avatar.png" alt="User" class="avatar"/>
      <div class="status-dot"></div>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </button>
    </mat-menu>
  </div>
</header>
