
<header class="header">
  <div class="header-left">
    <div class="brand">BB*</div>
    <div class="welcome" *ngIf="currentUser">
      Good Afternoon! {{currentUser.name}}
      <div class="last-login">Last Login: {{lastLogin}}</div>
    </div>
  </div>
  <div class="user-info" *ngIf="currentUser">
    <div class="user-role">{{currentUser.role | titlecase}}</div>
    <div class="avatar-wrapper" (click)="logout()">
      <img src="/assets/user-avatar.png" alt="User" class="avatar"/>
      <div class="status-dot"></div>
    </div>
  </div>
</header>
