run = "npm run watch"
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run watch"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42104384
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
