run = "npm run watch"
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "npm run watch"]
